
.counties path {
  stroke: #fff;
  stroke-width: .5px;
  stroke-opacity: .05;
  fill: grey;
}

.states {
  stroke: #fff;
  stroke-width: 1px;
  fill: none;
}

.counties path:hover {
  fill: red;
}


